h1 {color:white;
	background-color:#00B386;
	 margin-bottom: 0;}
				
body {background-color:#FFFFFF; 
	 color:#666666; }
	
nav {background-color:#70DBDB;}

h2 {color:#00664D;}

dt {color:#00664D;}

.barn {color:#70DBDB;} 